In [1]:
# import statements
import os
import pandas as pd

In [2]:
import SPIworkflow.SPIutils as spi
from SPIworkflow.__init__ import *
from SPIworkflow.constants import *

In [3]:
from SPIworkflow.data import get_spi_data
from SPIworkflow.data import create_data_tables

In [4]:
#infile_data='./INPUT/SPI-sources_planets_MASTER.csv'

In [5]:
#data = get_spi_data(infile_data='./INPUT/SPI-sources_planets_MASTER.csv')
#data.head
#data[0:3]

In [6]:
get_spi_data(infile_data='./INPUT/my-SPI-sources.csv')

/home/torres/Documents/git-repos/JupyterSPI/SPIworkflow/data.py:104: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['freq_cycl(ghz)'] = data['bfield_star(gauss)']*2.8e-3

,index,planet_name,star_name,ra(hms),dec(dms),ra(deg),dec(deg),d_star(pc),radius_star(r_sun),mass_star(m_sun),p_rot(days),bfield_star(gauss),radius_planet(r_earth),mass_planet(m_earth),p_orb(days),a(au),freq_cycl(ghz)
0,1,AD Leo b,AD Leo,NaN,NaN,NaN,NaN,4.9640,0.4233,0.4230,2.230,3568.0,4.378,19.17,4.46000,0.02505,9.9904
1,3,Proxima d,Proxima,0 0 0,0 0 0,0.0,0.0,1.3000,0.1450,0.1230,82.530,600.0,0.500,0.26,5.12000,0.02900,1.6800
2,5,AU Mic b,AU Mic,20 45 09.53,-31 20 27.2,0.0,0.0,9.7900,0.7500,0.5000,4.860,500.0,4.070,NaN,8.46321,0.06600,1.4000
3,8,GJ740 b,GJ 740,18 58 00.13,+05 54 29.2,0.0,0.0,11.1017,0.5600,0.5600,35.563,557.0,1.430,1.0000000,2.37756,0.02900,1.5596
4,10,TOI-4559 b,TOI-4559,NaN,+17 00 00.00,0,0,10.0000,0.4390,0.4390,38.000,180.0,1.220,2.6,2.77000,0.02900,0.5040
5,11,TOI-4559 c,TOI-4559,NaN,+17 00 00.00,0,0,10.0000,0.4390,0.4390,38.000,180.0,1.570,3.6,5.71000,0.04700,0.5040
6,15,GJ806b,GJ806,NaN,NaN,NaN,NaN,12.0000,0.4144,0.4132,48.000,270.0,1.400,2.26,0.92000,0.01390,0.7560

In [7]:
df = pd.read_csv(infile_data)

NameError: name 'infile_data' is not defined

In [ ]:
df2 = df[["planet_name", "star_name", 
        "ra(hms)","dec(dms)", "ra(deg)", "dec(deg)", 
        "d_star(pc)", "radius_star(r_sun)", "mass_star(m_sun)", "p_rot(days)", "bfield_star(gauss)",
        "radius_planet(r_earth)", "mass_planet(m_earth)", "p_orb(days)", "a(au)" ]]

In [ ]:
df2

In [ ]:
distance_min = 0.1; distance_max=1000.0 
p_orb_min=0.1; p_orb_max=10.0 
bfield_min=10.; bfield_max=10000., 
dec_min = -90.0; dec_max=90.

In [ ]:
distance_mask_min =  df2['d_star(pc)'] > distance_min
distance_mask_max =  df2['d_star(pc)'] < distance_max 
p_orb_mask_min = df2['p_orb(days)'] > p_orb_min
p_orb_mask_max = df2['p_orb(days)'] < p_orb_max
bfield_mask_min = df2['bfield_star(gauss)'] > bfield_min
bfield_mask_max = df2['bfield_star(gauss)'] < bfield_max
declination_mask_min = df2['dec(deg)'] > dec_min
#declination_mask_max = df2['dec(deg)'] < dec_max