In [1]:
# import statements
import os
#import shutil
#import numpy as np
import pandas as pd
#import matplotlib
#import matplotlib.pyplot as plt

In [2]:
import SPIworkflow.SPIutils as spi
from SPIworkflow.__init__ import *
from SPIworkflow.constants import *

In [3]:
from SPIworkflow.data import get_spi_data
from SPIworkflow.data import create_data_tables

In [4]:
data = get_spi_data()
#data.head
#data[:]

In [5]:
#latex_table = 1
#if latex_table:
#    with open('./OUTPUT/latex_table.tex', 'w') as tf:
#        tf.write(data.to_latex(index=False))
#    print(data.to_latex(index=False))

In [6]:
get_spi_data(distance_max=20.)

,star_name,ra(hms),dec(dms),SP_TYPE,d_star(pc),p_rot(days),bfield_star(gauss),planet_name,p_orb(days),radius_planet(r_earth),mass_planet(m_earth)
0,GJ 357,09 36 01.6372,-21 39 38.878,M2.5V,9.444387,74.3,129,GJ 357 b,3.930860,1.166969,2.086675
1,GJ 357,09 36 01.6372,-21 39 38.878,M2.5V,9.444387,74.3,129,GJ 357 c,9.124600,1.413455,3.686480
2,Ross 905,11 42 11.0933,+26 42 23.658,M3V,9.755955,44.6,100,GJ 436 b,2.643940,4.259420,22.246000
3,Wolf 437,12 47 56.6249,+09 45 05.031,M3.5Ve,8.076142,49.3,118,GJ 486 b,1.467119,1.305064,2.818886
4,HO Lib,15 19 26.8271,-07 43 20.190,M3V,6.299244,132.5,156,GJ 581 b,5.368000,2.425628,15.190840
5,HO Lib,15 19 26.8271,-07 43 20.190,M3V,6.299244,132.5,156,GJ 581 e,3.153000,1.147802,1.652560
6,V2306 Oph,16 30 18.0582,-12 39 45.323,M3V,4.306456,119,112,Wolf 1061 b,4.886900,1.191517,1.906800

In [7]:
create_data_tables()

Creating table file: OUTPUT/StarTable-CARMENES_only_planets.csv.

Creating table file: OUTPUT/StarTable-CARMENES_no_planets.csv.

(    Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1      planet_name  \
 0            0             0               2         CD Cet b
 1            1             1              16       TOI-1685 b
 2            2             2              19         GJ 176 b
 3            3             3              20         GJ 176 c
 4            4             4              22         GJ 179 b
 ..         ...           ...             ...              ...
 75          75            75             297         GJ 876 b
 76          76            76             298         GJ 876 c
 77          77            77             299         GJ 876 d
 78          78            78             300         GJ 876 e
 79          79            79             332  Ross 458 (AB) c

                  star_name p_rot(days)  v sin i source_p_rot  \
 0                  CD Cet        126.2      NaN          NaN
 1          PM J04343+4302        18.66      NaN          NaN
 2               HD 285968         40.7      NaN          NaN
 3               HD 285968         40.7      NaN          NaN
 4               Wolf 1539         NaN       NaN          NaN
 ..                     ...         ...      ...          ...
 75                 IL Aqr           81      NaN          NaN
 76                 IL Aqr           81      NaN          NaN
 77                 IL Aqr           81      NaN          NaN
 78                 IL Aqr           81      NaN          NaN
 79                 Gl 494          2.8      NaN          NaN

     radius_planet(r_jup)  radius_planet(r_earth)  ...  bfield_star(gauss)  \
 0                 0.1284                1.439236  ...                 253
 1                 0.1520                1.703768  ...                 187
 2                 0.1533                1.718340  ...                 350
 3                 0.1506                1.688075  ...                 350
 4                 1.2400               13.899160  ...                 204
 ..                   ...                     ...  ...                 ...
 75                1.1900               13.338710  ...                 197
 76                1.2500               14.011250  ...                 197
 77                0.1480                1.658932  ...                 197
 78                0.2172                2.434595  ...                 197
 79                1.0700               11.993630  ...                2600

    bfield_err(gauss)   p_orb(days)        source_p_orb        a(au)  \
 0                 90  2.290700e+00                 NaN     0.018500
 1                187  6.691403e-01                 NaN     0.011557
 2                 77  8.774800e+00                 NaN     0.066000
 3                 77  2.858600e+01                 NaN     0.146000
 4                204  2.288000e+03                 NaN     2.410000
 ..               ...           ...                 ...          ...
 75                92  6.108200e+01                 NaN     0.214000
 76                92  3.012600e+01                 NaN     0.134000
 77                92  1.938000e+00                 NaN     0.021000
 78                92  1.244000e+02                 NaN     0.345000
 79               100  1.882257e+07  exoplanetkyoto.org  1168.000000

                                              source_a SP_TYPE  \
 0                                                 NaN  M4.5Ve
 1   https://exoplanets.nasa.gov/exoplanet-catalog/...   M2.65
 2                                                 NaN   M2.5V
 3                                                 NaN   M2.5V
 4                                                 NaN     M2V
 ..                                                ...     ...
 75                                                NaN   M3.5V
 76                                                NaN   M3.5V
 77                                                NaN   M3.5V
 78                                                NaN   M3.5V
 79                                                NaN     M0V

               gal_l            gal_b  star_teff
 0   175d25m11.9783s  -43d10m24.1408s     3130.0
 1   160d09m29.8652s   -3d09m21.4948s     3434.0
 2   180d00m55.3157s  -17d25m35.4498s        NaN
 3   180d00m55.3157s  -17d25m35.4498s        NaN
 4   192d13m32.9309s   -22d51m45.094s     3370.0
 ..              ...              ...        ...
 75   52d00m14.6123s  -59d37m48.3173s     3350.0
 76   52d00m14.6123s  -59d37m48.3173s     3350.0
 77   52d00m14.6123s  -59d37m48.3173s     3350.0
 78   52d00m14.6123s  -59d37m48.3173s     3350.0
 79  311d49m30.3846s   75d05m09.6969s        NaN

 [80 rows x 34 columns],
 Empty DataFrame
 Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, planet_name, star_name, p_rot(days), v sin i, source_p_rot, radius_planet(r_jup), radius_planet(r_earth), Unnamed: 8, source_radius, mass_planet(m_jup), mass_planet(m_earth), Unnamed: 12, source_mass, karm_id, ra(hms), dec(dms), ra(deg), dec(deg), d_star(pc), radius_star(r_sun), mass_star(m_sun), bfield_star(gauss), bfield_err(gauss), p_orb(days), source_p_orb, a(au), source_a, SP_TYPE, gal_l, gal_b, star_teff]
 Index: []

 [0 rows x 34 columns])